<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
</head>
<body>
    <h2>Edit Message : </h2>
    <p>You are going to edit this chat : <%= chat._id %> </p>

    <p>This message was sent by <b> <%= chat.from %> </b> to <b> <%= chat.to %> </b> </p>

    <form action="/chats/<%= chat._id %>?_method=PUT" method="post">
        <textarea name="message" placeholder="Your message goes here..." rows="5" cols="40"> <%= chat.message %> </textarea>

        <br>

        <button>Edit Message</button>
    </form>
</body>
</html>